@model PaginableCollections.IPaginable
@using PaginableCollections;

<div>
    <ul class="pagination">
        <li>
            <a asp-page="/index" asp-route-pagenumber="1" asp-route-itemcountperpage="@Model.ItemCountPerPage">First</a>
        </li>

        @foreach(var t in Model.ToPager(10).GetPages())
        {
            <li class="@(Model.PageNumber == t.PageNumber  ? "active" : "")" >
                <a asp-page="/index" asp-route-pagenumber="@t.PageNumber" asp-route-itemcountperpage="@Model.ItemCountPerPage">@t.PageNumber</a>
            </li>
        }

        <li>
            <a asp-page="/index" asp-route-pagenumber="@Model.TotalPageCount" asp-route-itemcountperpage="@Model.ItemCountPerPage">Last</a>
        </li>
    </ul>
</div>
